In [1]:
########INSTRUCTIONS########
#Your task is to
#(1) first, copy the command line in ("In [2]") and run. Next, copy  the command in ("In [3]"), 
#and then ("In [4]")

#(2) starting from command in ("In [4]") of the EDA cheet sheet (https://github.com/chiharuishida/Tutorialdata/blob/main/EDA_cheat_sheet.ipynb)\n",
#One command at at time, copy and paste into your worksheet

#IMPORTANT! since we are dealing with Ad clicking dataset (it's been uploaded as \"Ad\"), 
# you must replace the word (tips) with the word (Ad)

#(3) starting in "In [6]", you will also need to pay attention to variable name changes for the Ad dataset.\n",
    #Variables in this Ad dataset are:\n",
    #   Time Spent on Site in Seconds ('Site_Time')\n",
    #   Age\n",
    #   Daily Internet Usage in Minutes ('Daily_time')\n",
    #   Gender\n",
    #   Clicked on Ad ('AdClicking')\n",

#When finished, go to FILE >> DOWNLOAD AS, and then select Notebook. Submit the file (*.ipynb) on Reggienet Assignment

In [2]:
import seaborn as sns
import pandas as pd

In [3]:
url="https://raw.githubusercontent.com/chiharuishida/Tutorialdata/main/ad_dataset_withheaders.csv"
Ad=pd.read_csv(url)
#this cell will upload the "Ad" dataframe from the URL above.

In [4]:
Ad.head(10)
#so this is where the assignment begins. Go to https://github.com/chiharuishida/Tutorialdata/blob/main/EDA_cheat_sheet.ipynb 
# for the rest of the code. Where says "Tips" you will need to replace with "Ad" because that's our new dataframe

   Site_Time  Age  DailyTime  Gender AdClicking
0      68.95   35     256.09  Female         No
1      80.23   31     193.77    Male         No
2      69.47   26     236.50  Female         No
3      74.15   29     245.89    Male         No
4      68.37   35     225.58  Female         No
5      59.99   23     226.74    Male         No
6      88.91   33     208.36  Female         No
7      66.00   48     131.76    Male        Yes
8      74.53   30     221.51    Male         No
9      69.88   20     183.82    Male         No